/**
    Zenburn Theme for Obsidian
    v1.1.0
    https://github.com/danyim/obsidian-zenburn
    https://www.buymeacoffee.com/danyim
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..700&display=swap");

:root {
  --bg: #3f3f3f;
  --bg-dark: #1f1f1f;
  --bg-darker: #0f0f0f;
  --bg-darkest: #000000;
  --bg-light: #484848;
  --bg-lighter: #4f4f4f;

  --black: #3f3f3f;
  --black-bright: #7f7f7f;
  --black-dim: #333333;

  --blue: #c6eaff;
  --blue-bright: #6996bf;
  --blue-dim: #6699cc;
  --blue-light: #8cb0d3;
  --blue-purple: #c0bed1;

  --cyan: #8cd0d3;
  --cyan-bright: #9ad6d9;
  --cyan-dim: #66cccc;

  --green: #7f9f7f;
  --green-bright: #9ece9e;
  --green-dim: #709080;

  --magenta: #bc8cbc;
  --magenta-bright: #dcbecd;
  --magenta-dim: #cc99cc;

  --orange: #ffcfaf;
  --orange-dim: #dfaf8f;
  --orange-light: #ffd7a7;
  --orange-tan: #efdcbc;
  --orange-brown: #cfbfaf;

  --red: #dca3a3;
  --red-bright: #ecbcbc;
  --red-dim: #bca3a3;
  --red-dark: #cc9393;
  --red-error: #e37170;
  --red-visual: #f18c96;

  --white: #dfe4cf;
  --white-bright: #f8f5ed;
  --white-dim: #dddddd;

  --yellow: #e8d7b9; /* Custom, not in zb */
  --yellow-bright: #efef8f;
  --yellow-brighter: #f8f893;
  --yellow-dim: #ffcc66;
}

.theme-dark,
.theme-dark.is-mobile {
  --background-primary: var(--bg);
  --background-primary-alt: var(--bg-dark);
  --background-secondary: var(--bg);
  --background-secondary-alt: var(--bg-dark);
  --text-normal: var(--white-bright);
  --text-faint: var(--white-bright);
  --text-muted: var(--yellow);
  --text-title-h1: var(--magenta-bright);
  --text-title-h2: var(--orange-tan);
  --text-title-h3: var(--orange-tan);
  --text-title-h4: var(--magenta-bright);
  --text-title-h5: var(--white-bright);
  --text-title-h6: var(--white-bright);
  --text-link: var(--red-dark);
  --text-a: var(--red-dark);
  --text-a-hover: var(--red-dark);
  --link-color: var(--red-dark);
  --link-color-hover: var(--red-bright);
  --link-external-color: var(--orange);
  --link-external-color-hover: var(--orange-light);
  --text-mark: rgba(136, 192, 208, 0.3); /* frost1 */
  --blockquote-background-color: var(--bg-light);
  --text-highlight-bg: var(--blue-dim);
  --text-highlight-bg-active: var(--blue-dim);
  --interactive-normal: var(--bg-light);
  --interactive-hover: var(--bg-lighter);
  --interactive-accent: var(--yellow);
  --interactive-before: var(--yellow-bright);
  --background-modifier-border: var(--red);
  --background-modifier-error: var(--red-error);
  --text-accent: var(--red-dim);
  --text-error: var(--red-error);
  --text-accent-hover: var(--red);
  --text-on-accent: var(--black-dim);
  --interactive-accent-rgb: var(--cyan);
  --text-selection: var(--blue-dim);
  --text-tag: var(--red-visual);
  --task-checkbox: var(--red);
  --table-header: var(--black-dim);
  --table-row-even: var(--black);
  --table-row-odd: var(--black-dim);
  --table-hover: var(--black-bright);
  --color-text-weeknum: var(--red-dim);

  --list-indent: 1.25em;
  /* Headings */
  --h1-size: 2em;
  --h2-size: 1.6em;
  --h3-size: 1.37em;
  --h4-size: 1.25em;
  --h5-size: 1.12em;
  --h6-size: 1.12em;
  --h1-color: var(--text-title-h1);
  --h2-color: var(--text-title-h2);
  --h3-color: var(--text-title-h3);
  --h4-color: var(--text-title-h4);
  --h5-color: var(--text-title-h5);
  --h6-color: var(--text-title-h6);
  --h1-weight: 700;
  --h2-weight: 700;
  --h3-weight: 700;
  --h4-weight: 400;
  --h5-weight: 400;
  --h6-weight: 400;
  /* Code */
  --pre-code: var(--bg-light);
  --inline-code: var(--green);
  --code-block: var(--green);
  --vim-cursor: var(--cyan);
  /* Tags */
  --tag-color: var(--red-visual);
  --tag-color-hover: var(--bg-lighter);
  --tag-background: var(--bg-lighter);
  --tag-background-hover: var(--magenta-bright);
  --tag-radius: 0.55em;
  --tag-padding-x: 0.5rem;
  --tag-padding-y: 0.25rem;
  --tag-decoration-hover: underline;
  /* Specific elements */
  --hr-color: var(--bg-lighter);
  --blockquote-border-color: var(--yellow-dim);
  --blockquote-border-thickness: 0.2em;
  --checkbox-color: var(--yellow);
  --checklist-done-color: var(--black-bright);
  --background-modifier-form-field: var(--bg-lighter);
}

body {
  --font-text-theme:
    "Inter Light", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  --font-header-text-theme:
    "Inter Medium", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  --font-monospace-theme:
    "Inconsolata", "Source Code Pro", ui-monospace, monospace;
}

.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
  text-shadow: none !important;
  background-color: var(--pre-code) !important;
}

.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
  color: var(--interactive-accent-rgb) !important;
}
.graph-view.color-text {
  color: var(--text-a-hover) !important;
}

mark {
  background-color: var(--text-mark);
}

ol,
ul {
  margin: 0.25rem 0;
}

/** Ensures the format string after links have a different color */
.cm-formatting-link-string {
  color: var(--text-faint) !important;
  text-decoration-line: none !important;
}
.cm-formatting-link-string + .cm-url {
  color: var(--blue) !important;
}

.titlebar {
  background-color: var(--background-secondary-alt);
}

.titlebar-inner {
  color: var(--text-normal);
}

.view-actions a {
  color: var(--text-normal) !important;
}

.view-actions a:hover {
  color: var(--text-a) !important;
}

.HyperMD-codeblock-bg {
  background-color: var(--pre-code) !important;
}

.HyperMD-codeblock {
  line-height: 1.4em !important;
  color: var(--code-block) !important;
}

.HyperMD-codeblock-begin {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.HyperMD-codeblock-end {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

table {
  border: 1px solid var(--background-secondary) !important;
  border-collapse: collapse;
}

th {
  font-weight: 700 !important;
  border: 0px !important;
  border-bottom: 2px solid var(--red) !important;
  text-align: left;
  background-color: var(--table-header);
  color: var(--red-bright);
}

td {
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 1px solid var(--background-secondary) !important;
}

tr:nth-child(even) {
  background-color: var(--table-row-even);
}
tr:nth-child(odd) {
  background-color: var(--table-row-odd);
}
tr:hover {
  background-color: var(--table-hover);
}

thead {
  border-bottom: 2px solid var(--background-modifier-border) !important;
}

.HyperMD-table-row {
  line-height: normal !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  line-height: 1.1rem !important;
}
.cm-s-obsidian .HyperMD-table-row span.cm-inline-code {
  font-size: 100% !important;
}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator {
  color: var(--text-a) !important;
}

.nav-file-tag {
  color: var(--text-a) !important;
}

.is-active .nav-file-title {
  color: var(--text-a) !important;
  background-color: var(--background-primary-alt) !important;
}

.nav-file-title {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.cm-line.HyperMD-list-line {
  padding-top: 0 !important;
  padding-left: var(--list-indent);
}

.cm-formatting-header {
  font-family: var(--font-text-theme);
  color: var(--black-bright) !important;
  font-weight: 200 !important;
}

.search-result-file-matched-text {
  color: var(--white-dim) !important;
}

/** Code, inline and blocks **/
.markdown-rendered code,
.markdown-preview-section pre code,
.markdown-preview-section code {
  font-size: 0.9em !important;
  background-color: var(--pre-code) !important;
}

.markdown-rendered pre {
  padding: 0;
}

.markdown-rendered code,
.markdown-preview-section pre code {
  padding: 4px !important;
  line-height: 1.4em !important;
  color: var(--code-block) !important;
}

.markdown-preview-section pre code {
  padding: 16px !important;
}

.markdown-preview-section pre code {
  display: block !important;
}

.markdown-preview-section code {
  color: var(--inline-code) !important;
  background-color: var(--pre-code) !important;
  padding: 4px !important;
  border-radius: 5px;
}

/* Tables */
pre.HyperMD-table-row.CodeMirror-line > *,
.cm-hmd-table-sep {
  color: var(--inline-code) !important;
}

.cm-s-obsidian,
.cm-inline-code {
  -webkit-font-smoothing: auto !important;
}

.cm-inline-code:not(.cm-formatting-code) {
  background-color: var(--pre-code) !important;
  color: var(--inline-code) !important;
  padding: 4px 6px !important;
  --inline-code-border-radius: 4px;
  border-radius: var(--inline-code-border-radius);
}
/* Inline code tick style */
.cm-formatting.cm-formatting-code {
  background-color: var(--pre-code) !important;
  color: var(--inline-code) !important;
  padding: 4px 0px;
  border-radius: var(--inline-code-border-radius);
}
/* Inline code: opening tick */
.cm-formatting.cm-formatting-code:nth-of-type(3n + 1) {
  border-radius: 0;
  border-top-left-radius: var(--inline-code-border-radius);
  border-bottom-left-radius: var(--inline-code-border-radius);
}
/* Inline code: closing tick */
.cm-formatting.cm-formatting-code:nth-of-type(3n) {
  border-radius: 0;
  border-top-right-radius: var(--inline-code-border-radius);
  border-bottom-right-radius: var(--inline-code-border-radius);
}
/* Inline code: between ticks */
.cm-formatting.cm-formatting-code + .cm-inline-code {
  border-radius: 0;
  padding: 4px 2px !important;
}

.workspace-leaf-header-title {
  font-weight: 700 !important;
}

.side-dock-title {
  padding-top: 15px !important;
  font-size: 20px !important;
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover {
  color: var(--text-a);
}

.side-dock {
  border-right: 0 !important;
}

/* vertical resize-handle */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  width: 1px !important;
  background-color: var(--background-secondary-alt);
}

/* horizontal resize-handle */
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height: 1px !important;
  background-color: var(--background-secondary-alt);
}

/* Remove vertical split padding */
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs {
  padding-right: 0px;
}

.markdown-embed-title {
  font-weight: 700 !important;
}

.markdown-embed {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.cm-header:not(.cm-formatting),
h1,
h2,
h3 {
  letter-spacing: -0.028em;
}

h4,
h5,
h6,
.HyperMD-header-4,
.HyperMD-header-5,
.HyperMD-header-6,
.cm-header:not(.cm-formatting).cm-header-4,
.cm-header:not(.cm-formatting).cm-header-5,
.cm-header:not(.cm-formatting).cm-header-6 {
  letter-spacing: -0.018em !important;
}

.suggestion-item.is-selected {
  background-color: var(--background-secondary);
}

.empty-state-action:hover {
  color: var(--interactive-accent);
}

button.mod-cta {
  color: var(--background-secondary-alt);
  font-weight: 700 !important;
}

.mod-cta:hover {
  background-color: var(--interactive-before) !important;
  font-weight: 700 !important;
}

.community-theme.is-selected button {
  color: var(--interactive-accent);
}

.CodeMirror-cursor {
  background-color: var(--vim-cursor) !important;
  opacity: 60% !important;
}

.mermaid .note {
  fill: var(--blue-dim) !important;
}

.setting-item-control input[type="text"] {
  color: var(--text-normal);
}

input[type="text"]::placeholder {
  color: var(--interactive-before) !important;
  font-size: 85%;
}

/* Collapse/folding indicators */
.markdown-preview-view .collapse-indicator,
.CodeMirror-guttermarker-subtle:not(.CodeMirror-foldgutter-folded) {
  color: var(--black) !important;
}

/* Inactive/active gutter line numbers */
.cm-gutterElement {
  color: var(--bg-light);
}
.cm-gutterElement.cm-active {
  color: var(--orange-dim);
}

/* Toast notices on the top right of the interface */
.notice-container .notice {
  background-color: var(--interactive-accent) !important;
  color: var(--text-on-accent) !important;
}

.community-theme.is-selected {
  color: var(--background-primary-alt);
}
